<template>
  <v-container>
    <v-card>
      <v-card-title>About</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="6">
            <strong>Nome:</strong> pippo
          </v-col>
          <v-col cols="6">
            <strong>Telefono:</strong> 023654789
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <strong>Email:</strong> info@myemail.it
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts" setup>


</script>

<style scoped>
/* eventuali stili specifici per questo componente */
</style>
