<template>
  <v-row align="center" justify="center">
    <v-col cols="auto">
      <v-card class="mx-auto" max-width="344" height="200" i title="Card title" theme="dark">
        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</v-card-text>
      </v-card>
    </v-col>
    <v-col cols="auto">
      <v-card class="mx-auto" max-width="344" height="200" image="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        title="Card title" theme="dark">
        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</v-card-text>
      </v-card>
    </v-col>
    <v-col cols="auto">
      <v-card class="mx-auto" max-width="344" height="200" title="Icons" subtitle="prepend-icon and append-icon"
        prepend-icon="mdi-account" append-icon="mdi-check">
        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</v-card-text>
      </v-card>
    </v-col>
    <v-col cols="auto">
      <v-card class="mx-auto" max-width="344" height="200" image="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        title="Card title" theme="dark">
        <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>