#app {
  /* max-width: 1800px; */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* Basic styles from https://primevue.org/button/ */
.p-inputtext {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  color: #4b5563;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #d1d5db;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
}

.p-inputtext:enabled:hover {
  border-color: #10b981;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a7f3d0;
  border-color: #10b981;
}

.p-button {
  color: #ffffff;
  background: #10b981;
  border: 1px solid #10b981;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}

.p-button:not(:disabled):hover {
  background: #059669;
  color: #ffffff;
  border-color: #059669;
}

.p-button:not(:disabled):active {
  background: #047857;
  color: #ffffff;
  border-color: #047857;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a7f3d0;
}