<!-- 
<template>
  <header style="line-height: 1.5; max-height: 100vh">
    <div class="row">
      <div class="col-3 card is-left">
        <img
          alt="Kyocera logo"
          class="logo"
          src="@/assets/kyocera-logo.png"
          width="125"
            />
      </div>
        <div class="col-9 card " style="padding-top: 10px">
          <Hello msg="Kyocera User Management " /> 
        </div>
      </div>
    </header>
  <div class="row">
      <CategoryList />
  </div>
  <div class="row">    
    <UserList />      
  </div>
  
 
 
</template> -->

<template>
  <v-app id="inspire">
    <v-navigation-drawer v-mode="drawer" app>
      <v-list-item>
        <v-list-item-content>
          <template>
            <v-icon icon="mdi-home" />
          </template>

          <v-list-item-title class="text-h6">
            KDIT - User
          </v-list-item-title>
          <v-list-item-subtitle>
            Best Todo Ever!
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" link @click="handleItemClick(item)">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar color="teal-darken-4" image="mountains.jpg" @click="drawer = !drawer">

      <v-app-bar-title>KDIT Manage Users</v-app-bar-title>
    </v-app-bar>

    <v-main>
      <!-- <v-card text="Ecco qui"></v-card> -->
      <router-view></router-view> <!-- Mostra il contenuto della pagina attuale -->

    </v-main>
  </v-app>
</template>
<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';

// import Hello from "@/components/Hello.vue";
// import UserList from "@/components/UserList.vue";
// import UserCreate from "@/components/UserCreate.vue";
// import CategoryList from "@/components/CategoryList.vue"
// import CategoryCreate from "@/components/CategoryCreate.vue";


// Ottieni l'istanza del router Vue
const router = useRouter()

const drawer = ref(null)
const items = [
  { title: 'Home', icon: 'mdi-home' },
  { title: 'User List', icon: 'mdi-view-list-outline' },
  { title: 'User Create', icon: 'mdi-pencil' },
  { title: 'Category List', icon: 'mdi-view-list-outline' },
  { title: 'Category Create', icon: 'mdi-pencil' },
  { title: 'About', icon: 'mdi-information' },

]


// Funzione per gestire il clic su un elemento della lista
const handleItemClick = (item) => {
  // Se l'elemento cliccato è "About", naviga alla pagina "AboutPage"
  if (item.title === 'About') {
    router.push({ name: 'AboutPage' })
  } else  if (item.title === 'User List') {
    router.push({ name: 'UserList' })
  }
  else {
    router.push({ name: 'HomePage'})
  }

}
</script>