<script lang="ts" setup>
import { categories } from "@/utils/category";
import type { Category } from "@/api";
import { ref, type Ref } from "vue";
import { createCategory, getAllCategory } from "@/api";
const ncat: Ref<string> = ref("");

let count = 0;

const emit = defineEmits(["created"]);

async function create() {
  if (!ncat.value) {
    // no name provided, skip
    return;
  }
  // create Category
  await createCategory(ncat.value.toUpperCase());
  // emit event
  emit("created");
  // clear text field
  ncat.value = "";
}


</script>

<template>
  <details>
    <summary>Category Create</summary>
  <div class="flex">
    <input class="p-inputtext mr-2" type="text" @keyup.enter="create" v-model="ncat" />
    <button class="button primary" :disabled="!ncat.length" @click="create">
      Create
    </button>
  </div>
  </details>
</template>

<style scoped>
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mr-2 {
  margin-right: 8px;
}
</style>
