<script lang="ts" setup>
import type { Category } from "@/api";
import CategoryCreate from "@/components/CategoryCreate.vue";
import { getAllCategory, getCategoryById, deleteCategory } from "@/api";
import { ref, type Ref } from "vue";

// list of current category categories
let categories: Ref<Category[]> = ref([]);
// error message
let error: Ref<string> = ref("");

  // Manage Error
function reportError(err: any) {
  let msg = "an unknown error occured";
  if (err instanceof Error) {
    msg = err.message;
  } else if (typeof err === "string") {
    msg = err;
  }
  error.value = msg;
  setTimeout(() => {
    error.value = "";
  }, 5000);
}

async function reloadCategory() {

  try {
    const Cats: Category[] = await getAllCategory();
    categories.value = Cats;
  } catch (err) {
    reportError(err);
  }
}
async function remove(id: string | undefined) {
  if (!id) {
    return;
  }
  try {
    await deleteCategory(id);
    reloadCategory();
  } catch (err) {
    reportError(err);
  }
}

reloadCategory();

</script>

<template>
  <div class="row is-full-width">  
    <details class="card">
      <summary>Category List / Category Create</summary>
      <ul>
        <li v-for="cat in categories" :key="cat.idCat">
          <div class="item_wrapper" @click="remove(cat.idCat)">
            <input :name="cat.idCat" type="checkbox" />
            <!-- <span>{{ cat.idCat }}</span> -->
            <span>{{ cat.categoryName }}</span>
          </div>
        </li>
      </ul>
      <p id="error" v-show="error.length">{{ error }}</p>
      <p class="info" v-if="categories.length > 0">
        {{ categories.length }} active element(s) on the list
      </p>
      <p class="info" v-else>No active Category's</p>
      <CategoryCreate @created="reloadCategory" />


    </details>
  </div>
</template>

<style scoped>
.title {
  font-size: 2rem;
  margin-bottom: 24px;
  color: #333333;
}

input[type="checkbox"] {
  margin-right: 8px;
}

ul {
  list-style-type: none;
  padding: inherit;
  margin-bottom: 24px;
}

li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #333333;
}

.item_wrapper {
  padding: 16px;
  border-radius: 8px;
  border-color: #f7f7f7;
  border-width: 1px;
  background-color: #f7f7f7;
}

#error {
  color: rgb(202, 0, 0);
  font-size: 1rem;
  padding-left: 8px;
}

.info {
  font-size: 1rem;
  padding-left: 8px;
  color: #8d8d8d;
  font-weight: 100r;
}</style>
