<template>
  <table v-if="filteredData.length">
    <thead>
      <tr>
        <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey === key }">
          {{ capitalize(key) }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData" :key="entry.id">
        <td v-for="key in columns" :key="key">
          {{ entry[key] }} 
        </td>
      </tr>
    </tbody>
  </table>
  <p v-else>No matches found.</p>
</template>

<script setup lang="ts">
import { ref, computed, defineProps } from 'vue';

const props = defineProps<{
  data: Record<string, any>[];
  columns: string[];
  filterKey: string;
}>();

const sortKey = ref('');
const sortOrders = ref<Record<string, number>>({});

const filteredData = computed(() => {
  let { data, filterKey } = props;
  if (filterKey) {
    filterKey = filterKey.toLowerCase();
    data = data.filter((row) =>
      Object.keys(row).some((key) => String(row[key]).toLowerCase().includes(filterKey))
    );
  }
  const key = sortKey.value;
  if (key) {
    const order = sortOrders.value[key];
    data = data.slice().sort((a, b) => {
      const valA = a[key];
      const valB = b[key];
      return (valA === valB ? 0 : valA > valB ? 1 : -1) * order;
    });
  }
  return data;
});

function sortBy(key: string): void {
  sortKey.value = key;
  sortOrders.value[key] *= -1;
}

function capitalize(str: string): string {
  return str.charAt(0).toUpperCase() + str.slice(1);
}
</script>

<style scoped>
/* Stili CSS rimangono invariati */
</style>
