<script lang="ts" setup>
import { categories, reloadCategories } from "@/utils/category";
import type { User } from "@/api";
import { ref, type Ref, computed } from "vue";
import { getUsers, createUser } from "@/api";
import bcrypt from "bcryptjs";

let count = 0;
let items: Ref<User[]> = ref([]);

//const name: Ref<string> = ref("");
 
const emit = defineEmits(["created"]);

// initial value for test
const initialValue: User = {
  dealer: "",
  sapCode: "0710005555",
  username: "info@myemail.com",
  dealerName: "pippo_1",
  salesman: "raffaele.vigano@dit.kyocera.com",
  idCat: "",
  enabled: true,
};
const inputData = ref(initialValue);

async function reload() {
  try {
    const Users = await getUsers();
    items.value = Users;
  } catch (err) {
    reportError(err);
  }
}

/**
 * reset input data
 */
function reset() {
  // assign copy of 'initialValue' to inputData
  
  inputData.value = Object.assign(
    {},           // empty object to start with
    initialValue // copy all properties from 'initialValue'
  );
}

// // reset data at startup
reset();
reloadCategories();

// check if input is valid
const inputValid = computed(() => {
  // check string values
  if (![inputData.value.dealer
    , inputData.value.dealerName
    , inputData.value.username
    , inputData.value.password
    , inputData.value.sapCode].every(value => !!value)) {
    // if any of the above values isn't 'true' if converted to a boolean: skip
    return false;
  }
  

  return true
});

async function create() {
  if (inputData.value.password == undefined) 
  {
    inputData.value.password = "password";
  }
  const hashedPassword = await bcrypt.hash(inputData.value.password, 10);

  
  const newUser = {
    id: `id_${count++}`,
    dealer: inputData.value.dealer,
    sapCode: inputData.value.sapCode,
    dealerName: inputData.value.dealerName,
    username: inputData.value.username,
    // password: inputData.value.password,
    password: hashedPassword,
    salesman: inputData.value.salesman,
    idCat: inputData.value.idCat,
    enables: true
  }
  // create User
  if (newUser != undefined) {
    await createUser(newUser);
    // emit event
    emit("created");
    // clear text field
    reset();
    reload();
  }
  
  
}
async function SubmitField() {
  
  const newUser = {
    id: `id_${count++}`,
    dealer: inputData.value.dealer,
    sapCode: inputData.value.sapCode,
    dealerName: inputData.value.dealerName,
    username: inputData.value.username,
    password: inputData.value.password,
    salesman: inputData.value.salesman,
    idCat: inputData.value.idCat,
    enables: true
  };

  // writeRegistrations(newRegistration);
  await createUser(newUser);

  // reset();
  reload();
}


function toggleDetails(det: string) {
  const detailsElement = document.getElementById(det) as HTMLDetailsElement | null;
  if (detailsElement) {
    detailsElement.open = !detailsElement.open;
  }  
}
</script>

<template>
  <details class="card">
    <summary><b>User Create</b></summary>
  
    <fieldset id="forms_input">
      <legend>New User </legend>        
        <table class="striped">
          <tbody>
            <tr>
              <td><label>Dealer name:</label>
                <input v-model="inputData.dealer" type="text" placeholder="dealer" />
              </td>
                      </tr>
              <tr>

              <td>
                <label>Sap Code:</label>
                <input v-model="inputData.sapCode" type="text" placeholder="SAP CODE" />
              </td>
            </tr>
            <tr>
              <td>
                <label>Name:</label>
                <input v-model="inputData.dealerName" type="text" placeholder="Dealer name" />
              </td>
              </tr>
              <tr>
                <td>
                <label>Username:</label>
                <input v-model="inputData.username" type="text" placeholder="username" />
              </td>
            </tr>
            <tr>

              <td>
                <label>Password:</label>
                <input v-model="inputData.password" type="password" placeholder="Password" />
              </td>
              </tr>
              <tr>
                <td>
                <label>Salesman:</label>
                <input v-model="inputData.salesman" type="text" placeholder="salesman" />
              </td>
            </tr>
            <tr>

              <!-- <td>
                <label>Category:</label>
                <input v-model="inputData.category" type="text" placeholder="category" />
              </td> -->
              <td>
                <label for="dSelectCategory">Category</label>
              
                <select
                  v-model="inputData.idCat"
                  class="form-control"
                  :required="true"
                >
                    <option disabled selected style="display:none;" value="">Choose Category</option>

                    <option v-for="cat in categories" v-bind:value="cat.idCat" @select="() => {
                      inputData.idCat = cat.idCat;
                    }">
                    {{ cat.categoryName }}
                  </option>
                </select>
              </td>
            </tr>

          </tbody>
        </table>
      
      <div class="row>">
        <button  id="btnSubmit"
                    class="button primary"
                    :disabled="!inputValid"
                    @click="() =>{
                    create();
                      }"
                  >
                    CREATE 
          </button>
          <button class="button secondary" @click="reset">
                    Reset
          </button>
          
      <label id="lblResult"></label>
      </div>
      
    </fieldset>
  </details>
</template>

<style scoped>
.th {
  font-size: small;
}
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mr-2 {
  margin-right: 8px;
}
thead td  {
  font-weight: bold;
}
tbody td {
  font-weight: bold;
}
input[type="text"] {
  font-size: small;
  font-weight: bold;
}
 input[type="number"] {
  height: 20px;
  font-size: small;
  font-weight: bold;
 
}

</style>
@/utils/utils