<template>
  <v-container>
    <!-- Bottone per inserire un nuovo utente -->
    <v-row>
      <v-col>
        <v-btn @click="openInsertDialog">Insert New User</v-btn>
      </v-col>
    </v-row>

    <!-- Tabella degli utenti -->
    <v-row>
      <v-col>
        <v-data-table :headers="headers" :items="users" item-key="id" v-model:selected="selectedUsers" show-select
          hide-default-footer class="custom-header">
          <!-- Slot per la colonna idCat -->
          <template v-slot:item.idCat="{ item }">
            {{ getCategoryByIdSync(item.idCat) }}
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon @click="deleteUser(item)">delete</v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>


    <!-- Dialog per l'inserimento di un nuovo utente -->
    <v-dialog v-model="insertDialog" persistent>
      <v-card>
        <v-card-title>Inserisci un nuovo utente</v-card-title>
        <v-card-text>
          <v-text-field v-model="newUser.dealer" label="Company Name"></v-text-field>
          <v-text-field v-model="newUser.dealerName" label="Dealer Last Name & First Name"></v-text-field>
          <v-text-field v-model="newUser.username" label="email"></v-text-field>
          <v-text-field v-model="newUser.salesman" label="Email salesman"></v-text-field>
          <v-text-field v-model="newUser.sapCode" label="Sap Code"></v-text-field>
          <v-text-field v-model="newUser.password" label="Password" type="password"></v-text-field>
          <v-text-field v-model="confirmPassword" label="Conferma Password" type="password"></v-text-field>

          <!-- Altri campi dell'utente -->
        </v-card-text>
        <v-card-actions>
          <v-btn @click="insertUser">Insert</v-btn>
          <v-btn @click="closeInsertDialog">cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>



  </v-container>
</template>


<script lang="ts" setup>
import { Category } from "@/api";
import { User } from "@/api";
import * as d3 from "d3";
import UserCreate from "./UserCreate.vue";
import { getUsers, updateUser, deleteUser, createUser, searchDealer } from "@/api";
import { getCategoryById, getAllCategory, createCategory, deleteCategory } from "@/api";
import { ref, computed, watch, type Ref } from "vue";
import jsPDF from "jspdf";
import bcrypt from "bcryptjs";

import { downloadPDF, type PdfDocument } from "@/utils/pdf";


// list of current User users
let count = 0;

let users: Ref<User[]> = ref([]);
let categories = <Ref<Category[]>>ref([]);
// error message
let error: Ref<string> = ref("");
let selectedFileName: Ref<string> = ref("");


const insertDialog = ref(false);
const newUser = ref( {
  
  dealer: "Pippo",
  dealerName: "Giuseppe Rossi",
  sapCode: "0710002569",
  username: "giuseppe.rossi@myinfomail.com ",
  password: "",
  salesman: "raffaele.vigano@dit.kyocera.com",
  idCat: "0",
  enabled: true
});

const confirmPassword = ref(""); // Variabile per la conferma della password

// Definisci i tuoi headers per la tabella degli utenti

let isAuthorizedToShowPassword = false;

const fileInput = ref<HTMLInputElement | null>(null);
const isFileSelected = ref(false);// check if input is valid



clear();

reloadAll();
getAllCategory().then((c) => {
  categories.value = c
});
console.log(categories);

// Generate PDF
async function PDFGenerate(user: User) {
  console.log(user);
  // Ottieni la data odierna
  const today: Date = new Date();
  const options: Intl.DateTimeFormatOptions = {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit',
    hour: '2-digit',
    minute: '2-digit',
    hour12: false // Utilizza il formato a 24 ore
  };
  const formattedDateTime: string = today.toLocaleString('it-IT', options);
  console.log(formattedDateTime);
  // Crea il nome del documento PDF con la data odierna
  const pdfName: string = `${user.dealer}_${formattedDateTime}.pdf`;
  const userCategory = categories.value.find(category => category.idCat === user.idCat);

  // Se la categoria è stata trovata, recupera la descrizione, altrimenti usa un valore predefinito
  const categoryDescription = userCategory ? userCategory.categoryName : "Category Not Found";
  console.log(user.idCat, ' - ', userCategory, ' - ', categoryDescription);

  const ddList: PdfDocument = {
    content: [
      { text: '\n\nKYOCERA DOCUMENT SOLUTIONS ITALY\n\nSummary of data held by KDIT', style: 'header' },
      {
        type: 'square',
        ul: [
          `Company Name: ${user.dealer}`,
          `Customer Name: ${user.dealerName}`,
          `Email: ${user.username}`,
          `Category Name: ${categoryDescription}`,
          `KDIT customer code: ${user.sapCode}`
        ]
      }
    ]
  };

  const ddTable: PdfDocument = {
    content: [
      { text: '\n\nKYOCERA DOCUMENT SOLUTIONS ITALY\n\nSummary of data held by KDIT\n', style: 'header' },

      {
        style: 'tableExample',
        color: '#444',
        fontsize: 9,
        table: {
          widths: ['auto', 'auto', 'auto', 'auto', 'auto', 'auto'],
          headerRows: 2,

          body: [
            [
              { text: 'Company Name', style: 'tableHeader', alignment: 'center' },
              { text: 'Dealer Namne', style: 'tableHeader', alignment: 'center' },
              { text: 'User Name', style: 'tableHeader', alignment: 'center' },
              { text: 'Customer SAP Code ', style: 'tableHeader', alignment: 'center' },
              { text: 'Category', style: 'tableHeader', alignment: 'center' },
              { text: 'Salesman', style: 'tableHeader', alignment: 'center' },
            ],

            [user.dealer, user.dealerName, user.username, user.sapCode, categoryDescription, user.salesman],

          ]
        }
      },
    ]
  };

  downloadPDF(ddTable, pdfName);

  // Salva o visualizza il PDF con il nome contenente la data odiern



  // const doc = new jsPDF();

  // // Coordinata iniziale y in millimetri
  // let y_mm = 30;

  // // Testo iniziale
  // let wTesto: string = `Dear Mr/Ms ${user.dealerName}`;
  // doc.text(wTesto, 10, y_mm);

  // // Aggiorna la coordinata y per il prossimo testo
  // y_mm += 10;
  // wTesto = 'your registration was successful, your account has been activated.'
  // doc.text(wTesto, 10, y_mm);

  // y_mm += 10;
  // wTesto = `These are the data you entered:`;
  // doc.text(wTesto, 10, y_mm);

  // y_mm += 20;
  // // Aggiungi altre informazioni del utente
  // doc.text(`Dealer: ${user.dealer}`, 10, y_mm);
  // y_mm += 10;

  // doc.text(`Sap Code: ${user.sapCode}`, 10, y_mm);
  // y_mm += 10;

  // doc.text(`Name: ${user.username}`, 10, y_mm);
  // y_mm += 10;

  // // Salva o visualizza il PDF
  // doc.save(pdfName);
}
//***************************************************** */
// IMPORT FILE FROM CSV
function handleFileChange(event: Event) {
  const input = event.target as HTMLInputElement;
  const files = (event.target as HTMLInputElement).files;

  if (input.files && input.files.length > 0) {
    console.log(input.files);
    isFileSelected.value = true; // Imposta la proprietà calcolata su true
    selectedFileName.value = input.files[0].name;
  } else {
    isFileSelected.value = false; // Imposta la proprietà calcolata su false se nessun file è selezionato
  }
}

function openFilePicker() {
  const fileInput = document.querySelector('input[type="file"]') as HTMLInputElement;
  if (fileInput) {
    (fileInput as HTMLInputElement).click();
  }
}

async function importfromCSV() {

  const fileInput = document.querySelector('input[type="file"]') as HTMLInputElement;

  if (fileInput && fileInput.files && fileInput.files.length > 0) {
    const file = fileInput.files[0];
    const fileReader = new FileReader();

    fileReader.onload = async (e) => {
      if (e.target && e.target.result) {
        const csvData = e.target.result as string;
        // Qui puoi fare qualcosa con i dati CSV, come ad esempio utilizzare D3 per analizzarli
        console.log(csvData);

        // Esempio di utilizzo di d3.csvParse per analizzare i dati CSV
        const parsedData = d3.csvParse(csvData);
        console.log(parsedData);
        for (const rowData of parsedData) {
          // Fai qualcosa con rowData, che rappresenta una riga dei dati CSV
          console.log(rowData);
          const hashedPassword = await bcrypt.hash(rowData.password, 10);
          const newUser = {
            id: ``,
            dealer: rowData.dealer,
            sapCode: rowData.sapCode,
            dealerName: rowData.dealerName,
            username: rowData.username,
            password: hashedPassword,
            salesman: rowData.salesman,
            idCat: getIdCatByCategoryName(rowData.categoryName),
            enables: true
          }
          // create User
          console.log(`user creating ${newUser.dealer} `);
          await createUser(newUser);
          console.log(`user created ${newUser.dealer} `);
        }

        reloadAll();
        selectedFileName.value = "";
      }
    };

    // Legge il contenuto del file come testo
    fileReader.readAsText(file);
  } else {
    // Nessun file selezionato, gestisci di conseguenza
    console.error("Nessun file selezionato");
    return;
  }



}
//**************************************************** */
function reloadCategories() {
  return getAllCategory().then((c) => {
    (categories.value = c);
  });

}

function loadCategories() {
  reloadCategories();
}

loadCategories();


function reportError(err: any) {
  let msg = "an unknown error occured";
  if (err instanceof Error) {
    msg = err.message;
  } else if (typeof err === "string") {
    msg = err;
  }
  error.value = msg;
  setTimeout(() => {
    error.value = "";
  }, 5000);
}

async function reload(nUser: User[] | undefined) {
  if (nUser == undefined) {
    try {
      const Users = await getUsers();
      users.value = Users;
    } catch (err) {
      reportError(err);
    }
  }
  else {
    users.value = nUser;
  }

}
async function reloadAll() {

  try {
    const Users = await getUsers();
    users.value = Users;
  } catch (err) {
    reportError(err);
  }
}

// const initialValueSel = {
//   dealer: "",
//   sapCode: "",
//   username: "",
//   dealerName: "",
//   password: "",
//   salesman: "",
//   idCat: "",
//   enabled: true
// };


var selected = ref<User>({});

async function resetPwd(user: User) {
  const userToUpdatePwd = selected.value;
  const newPassword = generatePassword(); // Sostituisci con la tua logica per generare la password

  userToUpdatePwd.password = await bcrypt.hash(newPassword, 10); // Hash della nuova password

  updateUser(userToUpdatePwd);
  error.value = "Reset password gone";
  reloadAll();
}
/******************************************** */
// function from TABLE
/******************************************** */

// generate password random
function generatePassword() {
  // Logica per generare una nuova password casuale
  // Ad esempio, puoi utilizzare una combinazione di caratteri casuali
  const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
  let newPassword = '';
  for (let i = 0; i < 10; i++) {
    newPassword += characters.charAt(Math.floor(Math.random() * characters.length));
  }
  return newPassword;
}
async function clear() {
  // assign copy of 'initialValue' to inputData
  // selected.value = Object.assign(
  //   {},           // empty object to start with
  //   initialValueSel // copy all properties from 'initialValue'
  // );

  // please manage initial value
}
async function modify() {
  const UserToUpdate = selected.value;
  console.log(UserToUpdate);

  updateUser(selected.value);
  error.value = "Updated";
  reloadAll();
  clear();
}

async function remove(id: string | undefined) {
  if (!id) {
    return;
  }
  try {
    await deleteUser(id);
    reloadAll();
    error.value = "Deleted";
  } catch (err) {
    reportError(err);
  }
}

async function insertUser() {
  if (newUser.value.password !== confirmPassword.value) {
    error.value = "Le password non corrispondono";
    return;
  }

  const hashedPassword = await bcrypt.hash(newUser.value.password, 10);


  const myUser = {
    id: `id_${count++}`,
    dealer: newUser.value.dealer.toUpperCase(),
    sapCode: newUser.value.sapCode,
    dealerName: newUser.value.dealerName,
    username: newUser.value.username,
    // password: inputData.value.password,
    password: hashedPassword,
    salesman: newUser.value.salesman,
    idCat: newUser.value.idCat,
    enables: true
  }
  console.log('Inserisco utente');
  if (newUser != undefined) {
    await createUser(myUser);
    // emit event
    // emit("created");
    // // clear text field
    // reset();
    // reload();
  }


}
/******************************************** */
// check if input is valid
const inputValidInsert = computed(() => {
  // check string values
  if (![newUser.value.dealer
    , newUser.value.dealerName
    , newUser.value.username
    , newUser.value.password
    , newUser.value.sapCode].every(value => !!value)) {
    // if any of the above values isn't 'true' if converted to a boolean: skip
    return false;
  }


  return true
});

const inputSN: Ref<string> = ref("");
const inputDealer: Ref<string> = ref("");

const inputValid = computed(() => {
  // check string values
  if (inputDealer.value !== "") {
    // if any of the above values isn't 'true' if converted to a boolean: skip
    return true;
  }
  return false;
});

async function searchByDealer() {
  if (!inputValid.value) {
    // skip if data is invalid
    return;
  }

  console.log(inputDealer.value);
  const listDealer: User[] = [];  //await searchDealer(inputDealer.value);

  reload(listDealer);
}
async function searchSN() {
  // if (!inputValid.value) {
  //   // skip if data is invalid
  //   return;
  // }

  // const snUser: User[] = await searchSerialNumber(inputSN.value);

  // reload(snUser);

}

function getCategoryByIdSync(id: string): string | undefined {
  const category = categories.value.find((cat) => cat.idCat === id);
  return category ? category.categoryName : 'Categoria non specificata';
}
function getIdCatByCategoryName(categoryName: string): string | undefined {
  const category = categories.value.find((cat) => cat.categoryName === categoryName);
  return category ? category.idCat : undefined;
}
function reset() {
  // assign copy of 'initialValue' to inputData

  toggleDetails('detSelect', false);
}

function toggleDetails(det: string, isOpen?: boolean) {
  const detailsElement = document.getElementById(det) as HTMLDetailsElement | null;

  if (detailsElement) {
    detailsElement.open = isOpen !== undefined ? isOpen : !detailsElement.open;
  }
}

//EXPORT FILE TO CSV
function exportDataToCSV() {
  const csvContent = convertToCsv(users.value);
  const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8' });
  const url = URL.createObjectURL(blob);
  const link = document.createElement('a');
  link.href = url;
  link.setAttribute('download', 'export_data.csv');
  link.click();
}

function convertToCsv(data: User[]) {
  if (!Array.isArray(data) || data.length === 0) {
    console.error('Data is not an array or is empty:', data);
    return ''; // Oppure gestisci il caso in cui data non è un array o è vuoto in modo appropriato
  }

  const userKeys: (keyof User)[] = ['dealer', 'sapCode', 'username', 'dealerName', 'password', 'salesman', 'idCat'];

  const headers: (keyof User)[] = userKeys;
  // const rows = data.map(obj => userKeys.map(key => String(obj[key])));

  const rows = data.map(obj => {
    return userKeys.map(key => {
      // Se la chiave è 'idCat' e categories contiene un valore per l'ID della categoria, sostituisci l'ID con la descrizione
      if (key === 'idCat') {
        return getCategoryByIdSync(String(obj[key]));
        return String(obj[key]);
      }
    });
  });
  const headerRow = userKeys.join(',');
  const csvRows = [headerRow, ...rows.map(row => row.join(','))];
  return csvRows.join('\n');
}

function openInsertDialog() {
  insertDialog.value = true;
}

function closeInsertDialog() {
  insertDialog.value = false;
}

</script>

<style scoped>
/* Definisci lo stile per l'intestazione personalizzato */
.custom-header .v-data-table-header th {
  font-weight: bold !important;
}
</style>